.App {
  display: flex;
  background-color: transparent;
  height: 100vh;
  font-weight: bold;  
  background: 
  linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0)),
  url('/public/toolshop.jpg');
  background-size: cover;
  background-position: bottom;
  color: white;
}
.container {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textContainer {
  width: 50%;
  align-self: flex-start;
}
.welcomeText {
  margin-bottom: -5px;
  font-size: 1.5rem;
  font-weight: bold;
}
.aboutText {
  margin-bottom: -5px;
  font-size: 1rem;
}
.titleText {
  margin-bottom: -5px;
  font-size: 1.25rem;
  font-weight: bold;
}
.helperText {
  font-size: 0rem;
  margin-top: 5px;
  font-weight: 500;
}
.bodyContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.MachinistButton,
.DiscoveryButton,
.SalesButton {
  border-radius: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #005F87;
  margin-bottom: 5px;
  font-size: 1rem;
border: none;
}

.MachinistButton {
  background-color: #009999;
}

.DiscoveryButton {

  background-color: #2387aa;
}
.SalesButton:hover{
  background-color: #004666;
  transition: 0.7s;
}
.MachinistButton:hover {
  background-color: #007777;
  transition: 0.7s;
}
.DiscoveryButton:hover {
  background-color: #1c6c87;
  transition: 0.7s;
}
@media (min-width: 320px) and (max-width: 767px)
{
  /* Design for mobile devices*/
  .container {
    margin-top: 50px;
    justify-content: space-around;
  }
  .welcomeText {
    font-size: 2.5rem;
  }
  .textContainer {
      padding-left: 30px;
      width: 75%;
  }
  .aboutText {
    font-size: 1.25rem;
  }
  .titleText {
    font-size: 2rem;
  }
.helperText {
  font-size: 1rem;
}
.MachinistButton,
.DiscoveryButton,
.SalesButton {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
}

@media (min-width: 768px) and (max-width: 1023px)
{
  /* Design for tablet devices*/
  .container {
    justify-content: space-evenly;
  }
  .welcomeText {
    font-size: 3.25rem;
  }
  .textContainer {
    padding-left: 60px;
    width: 60%;
  }
  .aboutText {
    font-size: 1.75rem;
  }
  .titleText {
    font-size: 3rem;
  }
.helperText {
  font-size: 1.25rem;
}
.MachinistButton,
.DiscoveryButton,
.SalesButton {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 2.5rem;
}
}

@media (min-width: 1024px)
{
  /* Design for desktop*/
  .App {
    background-position: top;
  }
  .container {
    justify-content: center;
  }
  .welcomeText {
    font-size: 3.5rem;
  }
  .aboutText {
    font-size: 2rem;
  }
  .titleText {
    font-size: 3.25rem;
  }
  .textContainer {
    padding-left: 100px;
    width: 35%;

  }
.helperText {
  font-size: 1.5rem;
}
.bodyContainer {
  width: 75%;
  padding-bottom: 5px;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.MachinistButton,
.DiscoveryButton,
.SalesButton {
  width: 200px;
  height: 75px;
  padding: 10px;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
}
}