:root {
  --input-height: 50px;
  --button-height: calc(var(--input-height) * 0.8);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #f5f5f5d1;
}

.chat {
  display: flex;
  border-radius: 20px;
  border: 1px solid white;
  width: 75vw;
  height: 90vh;
  background-color: #242424;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid;
  box-shadow:  0 0 5px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  .pageHeader
  {
    display: flex;
    flex: 1;
    padding-left: 12.5px;
    align-items: center;
    width: 100;
    height: 100;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px solid gray;
  }
  .chatScreen
  {
    display: flex;
    flex: 10;
    flex-direction: column;
    margin-left: 10px;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-color:#888 #3a3a3a;
    
    .messageContainer {
        display: flex;
        justify-content: flex-end;
        margin: 5px 0;
        max-width: 60%;
        align-self: flex-end;
        word-break: break-word;
      }
      
    .userMessage {
        background-color: #3a3a3a;
        padding-left: 10px;
        padding-right: 10px;  
        border-radius: 15px;
        display: inline-block;
      }
      
    .responseMessage {
        background-color: #131313;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;  
        border-radius: 15px;
        display: inline-block;
        align-self: flex-start;
      }
      
    .messageText {
        font-size: 14px;
        color: white;
        word-wrap: break-word;
        display: inline-block;
        white-space: pre-wrap;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    .messageText h1,
    .messageText h2,
    .messageText h3,
    .messageText h4,
    .messageText h5,
    .messageText h6 {
        margin: 0;
      }
    .messageText p {
        margin: 0;
      }
      .messageText ul,
      .messageText ol {
        margin-top: -20px;
        margin-bottom: -20px;
        padding-left: 25px;
      }
      .messageText li {
        margin: 0;
        padding: 0;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        color: white;
      }
      tr:hover td {
        background-color: #444;
      }
      th, td {
        border: 1px solid #555;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 2.5px;
        text-align: left;
        font-size: .75rem;
      }
      
      th {
        background-color: #333;
      }
      
      td {
        background-color: #242424;
        word-break: keep-all;
      }

  }
  .textInputBox
  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    .inputWrapper {
      display: flex;
      position: relative;
      width: 100%;
      .textInput
      {
        height: var(--input-height);
        width: 100%;
        padding-right: calc(var(--button-height) + 20px);
        border-radius: 50px;
        padding-left: 20px;
        border: none;
        background-color: #3a3a3a;
        font-size: 1rem;
        color: whitesmoke;
      }
      .textInput::placeholder {
        color: #b0b0b0;
      }
      .textInput:focus
      {
        outline-color: #009999;
        
      }
      .sendButton
      { 
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: var(--button-height);
        width: var(--button-height);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #009999;
        border: none;
        cursor: pointer;
        color: white;
        .arrowIcon
        {
          width: 24px;
          height: 24px;
        }
      }
      .sendButton:hover
      {
        background-color: transparent;
        transition: 0.3s;
      }
    }
  
  }
}

.loading {
  --uib-size: 40px;
  --uib-color: white;
  --uib-speed: 1.75s;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
}

.loading::before,
.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--uib-color);
  animation: pulse var(--uib-speed) ease-in-out infinite;
  transform: scale(0);
  transition: background-color 0.3s ease;
}

.loading::after {
  animation-delay: calc(var(--uib-speed) / -2);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.25;
  }
}
@media (min-width: 320px) and (max-width: 767px)
{
  .chat
  {
    width: 100vw;
    height: 100vh;
    border: none;
    border-radius: 0;
    .pageHeader
    {
      font-size: 1.25rem;
    }
    .chatScreen
    {
      flex: 13; 

      .messageContainer {
        max-width: 90%;
      }
    }
    .textInputBox
      { 
        .inputWrapper {
          .textInput
          {
            height: calc(var(--input-height) * 0.85);
          }
          .sendButton
          { 
            height:calc(var(--button-height) * 0.9);
            width: calc(var(--button-height) * 0.9);
            .arrowIcon
            {
              width: 21px;
              height: 21px;
            }
          }
        }
      }
  }
}
@media (min-width: 768px) and (max-width: 1023px)
{
  .chat
  {
    width: 100vw;
    height: 100vh;
    border: none;
    border-radius: 0;
    .pageHeader
    {
      font-size: 1.75rem;
    }
    .chatScreen
    {
      flex: 17; 
      .messageContainer {
        max-width: 80%;
      }
    }
  }
}