body, html, .chat {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
.chat
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;   
    align-items: center;
    color: white;
    overflow-y: scroll;
    .headerBand
    {
        font-size: 1.5rem;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        background-color: #009999;
        width: 100%;
        height: 4%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .context {
        width: 60%;
        display: flex;
        flex-direction: row;
        .contextText
        {
            padding-left: 10px;
        }
    }
        .chatScreen
        {
            flex: 1;
            display: flex;
            width: 60%;
            flex-direction: column;
            padding-bottom: 70px;
            .messageContainer {
                display: flex;
                justify-content: flex-end;
                margin: 5px 0;
                max-width: 75%;
                align-self: flex-end;
              }
              
              .userMessage {
                background-color: #009999;
                padding-left: 10px;
                padding-right: 10px;  
                border-radius: 15px;
                display: inline-block;
              }
              
              .responseMessage {
                background-color: #005f87;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;  
                border-radius: 15px;
                display: inline-block;
                align-self: flex-start;
              }
              
              .messageText {
                font-size: 16px;
                color: white;
                word-wrap: break-word;
                display: inline-block;
              }
              
            }
        .inputContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-bottom: 5px;
            padding-top: 3px;
            position: fixed; 
            bottom: 0;
          }
}

.loading {
    --uib-size: 40px;
    --uib-color: white;
    --uib-speed: 1.75s;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .loading::before,
  .loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse var(--uib-speed) ease-in-out infinite;
    transform: scale(0);
    transition: background-color 0.3s ease;
  }
  
  .loading::after {
    animation-delay: calc(var(--uib-speed) / -2);
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: scale(0);
      opacity: 1;
    }
    50% {
      transform: scale(1);
      opacity: 0.25;
    }
  }
.chat::-webkit-scrollbar {
    width: 12px;
}
.chat::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.chat::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
@media (min-width: 320px) and (max-width: 767px)
{
  .chat
    {
      justify-content: center;
      padding-left: 10px;
      .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(8px);
        z-index: 1;
      }
      .welcomeDialog
      {
        position: fixed;
        width: 80%;
        border-radius: 25px;
        color: white;
        background-color: #2d373c;
        z-index: 2;
        .dialogButtonContainer
        {
          display: flex;
          justify-content: center;
          margin-top: 10px;
          .dialogButton
          {
            font-size: 1rem;
            display: flex;
            color: white;
            background-color: #009999;;
            border-radius: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-weight: bold;
          }
          .dialogButton:active {
            background-color: #00cccc;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          }
        }
      }
        .headerBand
        {
            font-size: 1.25rem;
        }
        .inputContainer
        {
          width: 90%;
        }
        .chatScreen
        {
          width: 90%;
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px)
{
    .chat
    {
        .headerBand
        {
            font-size: 1.75rem;
        }
        .context {
            flex-direction: row;
            width: 95%;
            img
            {
                object-fit: cover;
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439px)
{
    .chat
    {
        .context {
            width: 70%;
            max-height: 150px;
            img
            {
                object-fit: cover;
                width: 150px;
                height: 150px;
            }
        }
        .chatScreen
        {
            width: 70%;

        }
        .inputContainer {
            width: 80%;
          }
    }
}