.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 850px;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
}

.textInput {
  border: solid;
  border-width: thin;
  padding: 15px;
  flex: 1;
  border-radius: 30px;
  border-color: #009999;
  color: white;
  background-color: #3a3a3a;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
}

.textInput::placeholder {
  color: #b0b0b0;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #009999;
  border: none;
  cursor: pointer;
  color: white;
  width: 45px;
  height: 45px;
}
